* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:poppins;
}

.wrapper {
    margin: auto;
    padding: 10em;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 20px;
}

li {
    padding: 5px;
    background-color: tomato;
    margin: 5px;
}

#date-time {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.year {
    display: flex;
    justify-content: baseline;
    font-size: 40px;
}
